.wrapper{
  width: 40%;
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
  margin-top: 100px;
  padding: 7px;
  border-radius: 12px;
  background-color: aliceblue;
}
body{
  background-color: #00B2B2;
  
}