@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rosarivo:ital@1&family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto&family=Rosarivo:ital@1&family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:wght@200&family=Roboto&family=Rosarivo:ital@1&family=Rozha+One&display=swap');



/* * nav bar css */ */
*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  background-color: rgb(255, 251, 251);
}
li,a,button{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color :black;
  text-decoration: none;
}
header{
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 30px 10%;
}
.logo{
  cursor: pointer;
}
.nav-links {
list-style: none;
}

.nav-links li{
  display:inline-block;
  padding: 1px,20px;
  margin: 20px;
}
.nav_links li a {
  transition :all 0.3s ease 0s;
  margin: 13px;

}
.nav_links li a :hover {
  color:#616161
}
button{
  padding: 9px 25px;
  background-color: #FDC800;
  border: none;
  border-radius:50px;
  cursor:pointer;
  transition :all 0.3s ease 0s;
}
button:hover{
  color: #FDC800;
  background-color: #ffffff;
}




/* content css */
.content h3{
  font-family: 'DM Serif Display',sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: #ffffff;

  }


#timer {
  font-size:40px;
  margin:0 auto;
  width:1000px;
  color: #FDC800;
}

#controls {
  margin:0 auto;
  width:600px;    
}

#controls button {
  font-size:24px;
  margin-top: 20px;
}
.material-stop{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.content{
  text-align:center;
  }
.content h1{
 font-size: 60px;
 color: #FDC800;
}
#backcontent{
 position:absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
 z-index: -1;
background-color: #000000;
height: 100%;
width:100%;
}


span{
  color: #002147;
}
 









 /* footer css */


 
 
 