@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rosarivo:ital@1&family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto&family=Rosarivo:ital@1&family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:wght@200&family=Roboto&family=Rosarivo:ital@1&family=Rozha+One&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  background-color: rgb(255, 251, 251);
  font-family: 'Poppins', sans-serif;
}
li,a,button{
 
  font-weight: 500;
  font-size: 16px;
  color :black;
  text-decoration: none;
}
header{
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 30px 10%;
}
.logo{
  cursor: pointer; 

}
.nav-links {
list-style: none;
}

.nav-links li{
  display:inline-block;
  padding: 1px,20px;
  margin: 20px;
}
.nav_links li a {
  transition :all 0.3s ease 0s;
  margin: 13px;

}
.nav_links li a :hover {
  color:#616161
}
button{
  padding: 9px 25px;
  background-color: #FDC800;
  border: none;
  border-radius:50px;
  cursor:pointer;
  transition :all 0.3s ease 0s;
}
button:hover{
  color: #FDC800;
  background-color: #ffffff;
}

/* section 1 */


.container-1-Texts h1{

  font-style: normal;
  font-weight: 400;
  font-size: 57px;
  line-height: 76px;
   font-size: 40px;
   color: #002147;
}
.container-1-Texts h3{
color:#00B2B2;
font-weight: 300;
}
.container-1-Texts {
margin-left: 100px;
}
.container{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.container2{
  display: flex;
  
}
.clss4 {
  padding: 25px;
width: 25%;
} 
.clss3 {
  padding: 25px;
  width: 25%;
}
.clss2 {
  padding: 25px;
  width: 25%;
}
.clss1 {
  margin-left: 25px; 
  padding: 25px;
  width: 25%;
}
.container2 h4{
  font-size: medium;
  color: #002147;
}
.clss1 h4{
  color:#00B2B2;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}
.clss2 h4{
  color:#00B2B2;
  font-size: 20px;
  font-weight: 200;
}
.clss3 h4{
  color:#00B2B2;
  font-size: 20px;
  font-weight: 200;
}
.clss4 h4{
  color:#00B2B2;
  font-size: 20px;
  font-weight: 200;
}
.img-search img{
  height: 500px;
  margin-top: 170px;
  margin-left: 70px;
}
.search-section{
  display:flex
}








/* section 3 */
.text-search h3{
color: #002147;
font-size: 25px;
}





.text-search{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-left: 80px;
}
input{
  margin-left: 20px;
  border-radius: 60px;
  padding: 10px;
}




                                     /* footer css */




body .footer {
  z-index: 1;
  --footer-background:#ffbe00;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
   margin: 0;
  padding:0;
}
body .footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
body .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
          animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
body .footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}
body .footer .content a, body .footer .content p {
  background-color: #ffbe00;
  text-decoration: none;
}
body .footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffbe00;
}
body .footer .content b {
 background-color: #ffbe00;
}
body .footer .content p {
  margin: 0;
  font-size: 0.75rem;
}
body .footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .footer .content > div > div {
  margin: 0.25rem 0;
}
body .footer .content > div > div > * {
  margin-right: 0.5rem;
}
body .footer .content > div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

@-webkit-keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}

