@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rosarivo:ital@1&family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto&family=Rosarivo:ital@1&family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:wght@200&family=Roboto&family=Rosarivo:ital@1&family=Rozha+One&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  background-color: rgb(255, 251, 251);
  font-family: 'Poppins', sans-serif;
}
li,a,button{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color :black;
  text-decoration: none;
}
header{
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 30px 10%;
}
.logo{
  cursor: pointer;
}
.nav-links {
list-style: none;
}

.nav-links li{
  display:inline-block;
  padding: 1px,20px;
  margin: 20px;
}
.nav_links li a {
  transition :all 0.3s ease 0s;
  margin: 13px;

}
.nav_links li a :hover {
  color:#616161
}
button{
  padding: 9px 25px;
  background-color: #FDC800;
  border: none;
  border-radius:50px;
  cursor:pointer;
  transition :all 0.3s ease 0s;
}
button:hover{
  color: #FDC800;
  background-color: #ffffff;
}

/* video css */

.videoDiv{
  display: inline-block;
  width: 50%;
  height: 50%;
  padding: 10px;
  background-color:#00B2B2;
  margin-left: 350px;
 
}
